* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: black;
}

.jumbo {
    width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

nav {
    background-color: rgba(17, 34, 45, 0.824);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 4rem;
}

nav li {
    list-style: none;
}

nav a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}

.row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

footer {
    padding: 20px;
    color: white;
    background-color:  rgba(17, 34, 45, 0.824);
    text-align: center;
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.profile img {
    max-width: 150px;
}

.btn-lokasi {
    display: inline-block;
    padding: 10px 16px;
    background-color: rgba(17, 34, 45, 0.824);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.btn-lokasi:hover {
    font-weight: bold;
}

.contact {
    margin-top: 40px;
    padding: 25px;
    background-color: #f4f6f5;
    border-top: 3px solid rgba(17, 34, 45, 0.824);
    text-align: center;
    flex-basis: 100%;
    width: 100%;
}

.row h3 {
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-wight: bold;
    font-size: 20px;
}

.contact-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contact-link a {
    padding: 10px 16px;
    background-color: rgba(17, 34, 45, 0.824);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.contact-link a:hover {
    font-weight: bold;
}
